.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 40px;
  font-family: "Funnel Display", system-ui, sans-serif;
}

.button {
  width: 100px;
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  background-color: #6e6ec2;
  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: #bcbce6;
  cursor: not-allowed;
}

.page {
  font-size: 16px;
  font-weight: 500;
  color: #141421;
}