.page {
  padding: 40px;

  background-color: #9999ff;

  font-family: "Funnel Display", system-ui, sans-serif;
}

.title {
  font-size: 48px;
  color: #fff;
  margin-left: 20px;

  margin-bottom: 22px;

  font-family: "Marck Script";
}

/* container */
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;



  background-color: #bebef7;

  padding: 22px;
  border-radius: 16px;

  max-width: 800px;
}

/* form */
.formSection {
  width: 100%;

  background-color: #fff;

  border-radius: 14px;
  padding: 30px;
}

.inputGroup {
  display: flex;
  flex-direction: column;

  gap: 8px;
  margin-bottom: 24px;
}

.inputGroup label {
  color: #6e6ec2;
  font-size: 18px;
  font-weight: 600;
}

.inputGroup input {
  padding: 14px 16px;

  border-radius: 10px;
  border: 2px solid #b4b4da;

  font-size: 16px;

  background-color: #fff;
  color: #333;

  font-family: "Funnel Display", system-ui, sans-serif;

  transition: 0.2s ease;
}

.inputGroup input:focus {
  outline: none;
  border-color: #6e6ec2;
}

/* buttons */
.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.cancelBtn,
.saveBtn {
  border: none;
  border-radius: 10px;

  padding: 14px 24px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.2s ease;
}

.cancelBtn {
  background-color: #ececff;
  color: #6e6ec2;
}

.cancelBtn:hover {
  background-color: #dadaff;
}

.saveBtn {
  background-color: #6e6ec2;
  color: #fff;
}

.saveBtn:hover {
  background-color: #5959b8;
}

@media (max-width: 900px) {
  .container {
    margin-left: 0;
  }

  .buttons {
    flex-direction: column;
  }

  .cancelBtn,
  .saveBtn {
    width: 100%;
  }
}

.passwordWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.passwordWrapper input {
  flex: 1;
}

.eyeBtn {
  padding: 10px 14px;

  border: none;
  border-radius: 8px;

  background-color: #ececff;
  color: #6e6ec2;

  font-weight: 600;
  cursor: pointer;

  transition: 0.2s ease;
}

.eyeBtn:hover {
  background-color: #dadaff;
}