.page {
  padding: 20px;
  margin-top: 140px;
  background-color: #9999FF;
  font-family: "Funnel Display", system-ui, sans-serif;
  min-height: 100vh;
}

.title {
  font-size: 48px;
  margin-left: -40px;
  font-family: "Marck Script", cursive;
  color: #fff;
}

.tableWrapper {
  background-color: #bebef7;
  padding: 18px;
  border-radius: 12px;
  margin: 20px;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.table th {
  text-align: left;
  padding: 14px;
  background-color: #6e6ec2;
  color: #fff;
  font-size: 20px;
  padding-left: 40px;
}

.table td {
  padding: 18px 14px;
  border-bottom: 1px solid #eee;
  color: #2f2f41;
  font-size: 17px;
  text-align: left;
  padding-left: 40px;
}

.row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.row:hover {
  background-color: #e6e6ff;
}

.titleCell {
  font-weight: 600;
  font-size: 18px;
}

/* Status colors */
.table td.pending {
  color: #669fe1;
  font-weight: 600;
}

.table td.borrowed {
  color: #6e6ec2;
  font-weight: 600;
}

.table td.returned {
  color: #2e8b57;
  font-weight: 600;
}

.table td.expired {
  color: #d9534f;
  font-weight: 600;
}

.table td.closed {
  color: #2e8b57;
  font-weight: 600;
}

.paginationWrapper {
  margin-left: -20px;
}